
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section _pageStyle{
    <link href="~/Assets/Pages/Boyut/icomoon.css" rel="stylesheet" />
    <link href="~/Assets/Pages/Boyut/magnific-popup.css" rel="stylesheet" />
    <link href="~/Assets/Pages/Boyut/themify-icons.css" rel="stylesheet" />
    <link href="~/Assets/Pages/Boyut/style.css" rel="stylesheet" />
}
<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="        background-image: url(/Assets/Global/images/960x640.jpg);">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1 class="animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">About Us</h1>
                        <h2 class="animate-box fadeInUp animated-fast" data-animate-effect="fadeInUp">Free HTML5 Bootstrap Templates Made <em>by</em> <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="gtco-history" class="gtco-section border-bottom animate-box fadeInUp animated-fast">
    <div class="gtco-container">

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-center gtco-heading">
                <h2>Company History</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row row-pb-md">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repudiandae maiores officiis illo soluta accusantium architecto cumque ipsam aut quasi, repellendus reprehenderit rem minima eius impedit. Earum dolor omnis officiis tenetur dolorum. Placeat repudiandae dolores eveniet pariatur, aspernatur sit assumenda architecto est optio animi natus qui laboriosam amet rerum sunt!</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores maxime earum sequi explicabo consectetur. Labore, odio enim sequi. Quaerat explicabo modi laboriosam illo tempore, alias magnam non, debitis asperiores minima.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>See The Photos</h3>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-fullwidth owl-theme owl-loaded">






                    <div class="owl-stage-outer owl-height" style="height: 833px;">
                        <div class="owl-stage" style="transform: translate3d(-4520px, 0px, 0px); transition: all 0.8s ease 0s; width: 11300px;">
                            <div class="owl-item cloned" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="/Assets/Global/images/960x640.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/480x320_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/480x320_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/A480x320.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item active" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/480x320_4.jpeg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/960x640.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/324x235.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/480x320_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/480x320.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div><div class="owl-item cloned" style="width: 1110px; margin-right: 20px;">
                                <div class="item">
                                    <img src="~/Assets/Global/images/480x300_5.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="ti-arrow-left owl-direction"></i></div><div class="owl-next" style=""><i class="ti-arrow-right owl-direction"></i></div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="row animate-box fadeInUp animated-fast">
    <div class="col-md-12 col-md-offset-2 text-center gtco-heading">
        <h2>Meet The Team</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box fadeInUp animated-fast">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" style="margin-right:100px">News</div>
        </div>
        <div class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag" id="##">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1254px;">
                    <div class="owl-item active" style="width: 303.333px; margin-left: 10px;">
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="/Assets/Global/images/480x300_5.jpg" alt=""></div>
                                <div>
                                    <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 303.333px; margin-left: 10px;">
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="/Assets/Global/images/480x320_3.jpg" alt=""></div>
                                <div>
                                    <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 303.333px; margin-left: 10px;">
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="/Assets/Global/images/480x320_2.jpg" alt=""></div>
                                <div>
                                    <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 303.333px; margin-left: 10px;">
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="/Assets/Global/images/480x320.jpg" alt=""></div>
                                <div>
                                    <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-nav"><div class="owl-prev disabled"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div>
        </div>
    </div>
</div>








@section _pageScripts{

    <script src="~/Assets/Pages/Boyut/jquery.countTo.js"></script>
    <script src="~/Assets/Pages/Boyut/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/Pages/Boyut/magnific-popup-options.js"></script>
    <script src="~/Assets/Pages/Boyut/main.js"></script>

}

