
@{
    ViewBag.Title = "من نحن";
    ViewBag.About = "aktife";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid about_us_bg_img">
    <div class="container">
        <div class="row">
            <a href="@Url.Action("Index")" class="fh5co_con_123"><i class="fa fa-home"></i></a>
            <a href="@Url.Action("Contact")" class="fh5co_con pt-3"> من نحن </a>
        </div>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-1"></div>
            <div class="col-md-10 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <h3>من نحن؟</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada enim id enim congue
                    convallis. Praesent a cursus orci. Proin mauris eros, rhoncus in risus nec, vestibulum dignissim
                    diam. Duis dapibus, magna ac fringilla consectetur, tellus quam aliquam quam, molestie tincidunt
                    justo risus et nunc. Donec quis justo nec diam hendrerit facilisis placerat non magna. Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <p>
                    Nulla tincidunt sit amet ligula interdum pulvinar. Sed nec volutpat enim. Praesent pretium
                    ullamcorper
                    quam, at rhoncus magna consectetur quis. Nulla condimentum, libero vel varius sodales, lacus urna
                    accumsan purus, at
                    mattis nisi nibh in lorem. Sed laoreet, ante vitae tincidunt auctor, sapien metus tincidunt ante,
                    quis aliquam lacus risus id quam.
                </p>
                <p>
                    Nam vehicula viverra quam, nec ornare ex convallis eget. Praesent pulvinar, justo at lacinia
                    elementum, dolor elit facilisis massa, vel feugiat elit massa et libero. Praesent hendrerit metus eu
                    elementum commodo. Morbi tempus mi a nulla scelerisque, vitae vulputate nisi commodo. Maecenas felis
                    urna, dictum quis mollis quis, mollis vel ligula. Nullam sodales sapien tellus, ornare tincidunt
                    dolor imperdiet at. Vestibulum convallis, felis quis condimentum finibus, justo lectus aliquam
                    libero, eu lacinia tellus leo eu orci.
                </p>
                <h3>ما هي الخدمات التي نقدمها؟</h3>

                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, modi!</li>
                    <li>Ea iure at, debitis culpa perspiciatis suscipit laudantium a, expedita.</li>
                    <li>Voluptate distinctio perspiciatis cum sed ipsum nisi accusantium a aut!</li>
                    <li>Sed vel quo dignissimos, quaerat totam officia, deserunt provident minus.</li>
                </ul>
                <p>
                    Maecenas consequat dictum aliquam. Praesent nec magna at ipsum facilisis dictum sit amet nec arcu.
                    Donec ac metus a elit rhoncus euismod et sit amet velit. Nunc quis lacus vel metus tincidunt
                    vulputate in et libero. Aliquam dolor lacus, facilisis ultrices rutrum in, blandit vitae nulla.
                    Nullam vestibulum, odio vitae aliquam aliquam, nibh dui iaculis augue, ut tristique nisi est in
                    tellus. Fusce volutpat ultricies venenatis. In a arcu in tellus tincidunt accumsan. Nulla pretium at
                    ex viverra vulputate. Cras mollis velit metus, non suscipit felis luctus sit amet. Ut vel leo vitae
                    magna blandit tempor in sit amet arcu. Donec dignissim mattis dui. Donec ultrices malesuada sapien,
                    ut fermentum nisi efficitur eu. Phasellus dui eros, posuere vel lacus vitae, venenatis feugiat
                    libero. Nunc sed nisi feugiat, consequat arcu id, vehicula augue. Donec viverra tincidunt nisi eget
                    ornare.
                </p>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-1"></div>
            <div class="col-md-10 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <h3>الاسئلة الشائعة</h3>
                <div id="accordion">
                    <div class="card mb-1">
                        <div style="background-color: #f7f7f9" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h1 class="btn btn-link collapsed" style="font-size: 22px;text-decoration:none">
                                ما هي مميزات شراء عقار في تركيا؟
                            </h1>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="margin:20px;">
                                <ul>
                                    <li dir="RTL"><span lang="AR-SY">الحصول على إقامة عقارية في تركيا</span><o:p></o:p></li>
                                    <li dir="RTL"><span lang="AR-SY">الحصول على الجنسية التركية إذا كان العقار بقيمة 250 ألف دولار </span><o:p></o:p></li>
                                    <li dir="RTL"><span lang="AR-SY">عائد استثماري رابح يستند إلى القوة السياحية الجاذبة في تركيا</span><o:p></o:p></li>
                                    <li dir="RTL"><span lang="AR-SY">توفر مدارس وجامعات عالمية بمختلف اللغات والمرجعيات العلمية</span></li>
                                    <li dir="RTL"><o:p></o:p><span lang="AR-SY">تكاليف المعيشة منخفضة نسبياً مقارنة بأوروبا.</span><o:p></o:p></li>
                                </ul>                               
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div style="background-color: #f7f7f9" id="headingTwo"data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h1 class="btn btn-link collapsed" style="font-size: 22px;text-decoration:none">
                                ما هي شروط شراء عقار في تركيا؟
                            </h1>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="margin:20px;">
                                <ul>
                                    <li dir="RTL"><span lang="AR-SY">أهلية الطرفين ورضاهما التام</span></li>
                                    <li dir="RTL"><span lang="AR-SY">قانونية العقار</span></li>
                                    <li dir="RTL"><span lang="AR-SY">وضوح ثمن العقار</span></li>
                                    <li dir="RTL"><span lang="AR-SY">صلاحية العقار للتملك</span></li>
                                    <li dir="RTL"><span lang="AR-SY">تسجيل العقد بصيغة معينة لدى كاتب العدل (النوتر)</span></li>
                                    <li dir="RTL"><span lang="AR-SY">معاملة الشرح العقاري</span></li>
                                    <li dir="RTL">حضور صاحب العقد</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div style="background-color: #f7f7f9" id="headingThree"data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h1 class="btn btn-link collapsed" style="font-size: 22px;text-decoration:none">
                                ما هي خطوات شراء عقار في تركيا؟
                            </h1>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" style="margin:20px;">
                                <ul>
                                    <li dir="RTL">تقديم طلب نقل الملكية للجهات الأمنية.</li>
                                    <li dir="RTL"><span lang="AR-SY">اختيار العقار المناسب.</span></li>
                                    <li dir="RTL"><span lang="AR-SY">تحضير الأوراق التالية: صورة الطابو </span><span lang="AR-SY">+</span><span lang="AR-SY"> بيان الموقع</span><span lang="AR-SY"> من البلدية </span><span lang="AR-SY">+ 4 صور شخصية.</span></li>
                                    <li dir="RTL"><span lang="AR-SY">الحصول على الرقم الضريبي من دائرة الضرائب.</span></li>
                                    <li dir="RTL"><span lang="AR-SY">ترجمة جواز السفر للغة التركية وتصديقه من كاتب العدل "النوتر".</span></li>
                                    <li dir="RTL"><span lang="AR-SY">توقيع عقد الشراء مع البائع وتقديم دفعة أولى.</span></li>
                                    <li dir="RTL">تقديم طلب نقل الملكية للجهات الأمنية.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-5">
                        <h3>يمكننا الاجابة عن تساؤلاتكم لمساعدتكم </h3>
                    </div>
                    <div class="col-3">
                        <a href="@Url.Action("Contact")" style="font-size:18px" class="btn btn-primary">التواصل</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





