
@{
    ViewBag.Title = "من نحن";
    ViewBag.About = "aktife";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid about_us_bg_img">
    <div class="container">
        <div class="row">
            <a href="@Url.Action("Index")" class="fh5co_con_123"><i class="fa fa-home"></i></a>
            <a href="@Url.Action("Contact")" class="fh5co_con pt-3"> من نحن </a>
        </div>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-1"></div>
            <div class="inner-content my-3">
                <h2>شركة 6MER العقارية</h2>
                <p style="text-align: justify;"><span style="font-size: 14px; text-align: justify; line-height: 22pt;">شركة تركية واسعة النطاق، متخصصة بالاستشارات العقارية والوساطة، مقراتها في إسطنبول، وطرابزون، وسكاريا، ولديها تعامل في مدن أخرى داخل تركيا، كما لها وكلاء في عدة مدن عربية، واتفاقيات عديدة مع معظم شركات الإنشاء الكبرى في إسطنبول، تركّز اهتمامها على المستثمرين العقاريين الأجانب، والراغبين بالتملك في تركيا.</span></p>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">حققت "6MER" نجاحات متتالية في أسواق العقار التركية خلال مسيرتها الطويلة، واكتسبت خبرة عملية واسعة، وسُمعَة حسنة محلياً وإقليمياً، فحازت على ثقة المستثمرين الأجانب وشركات الإنشاء التركية.</span></p>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">تعمل "6MER العقارية" ضمن "مجموعة 6MER الكبرى" التي تضم شركة سفرك السياحية، علاجك الطبية، منصة الدراسة، كما تضم شركة إيفينتس IMT Events لتنظيم المؤتمرات والمعارض والفعاليات.</span></p>
                <h2 style="text-align: justify;">رؤيتنا</h2>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ننظر إلى تركيا على أنها جنة الاستثمار القادم، وكما أنها جنة الأرض يأوي إليها السائحون، كذلك تتطلع إليها آمال المستثمرين.</span></p>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ونؤمن بمبدأ أخوة البلدان، وصداقة الشعوب، وأينما كنت فتركيا بيتك الثاني، والناس فيها أهلك، والبلد بلدك.</span></p>
                <h2>التثقيف العقاري</h2>
                <p style="text-align: justify;"><span style="line-height: 22pt; font-size: 14px;">نقوم بنشر سلسلة حلقات عن <a href="/articles/questions-answers-ownership-turkey">التملك العقاري في تركيا</a>، كما نترجم وننشر مقالات متخصصة عن <a href="https://turkey.imtilak.net/articles/important-information-turkey-economy">الاقتصاد التركي</a>، وأهم مستجدات البنية التحتية، والقوانين الجديدة المتعلقة بالعقار، وسائر ما يهم المستثمر والراغب بالتملك أو العيش في تركيا.</span></p>
                <h2>لماذا تركيا؟</h2>
                <p style="text-align: justify;"><span style="line-height: 22pt; font-size: 14px;">تركيا الجديدة بلد صاعد بسرعة وثقة، ومؤشر النمو فيه لم يعرف سوى القفز والصعود، تزامناً مع ثورة البنى التحتية، والتسهيلات الحكومية، والتطور الصناعي والطبي، والمشاريع العملاقة التي تأخذ تركيا من الماضي إلى المستقبل بسرعة النور! مثل&nbsp;<strong>مشروع مطار إسطنبول الثالث</strong>&nbsp;الذي يقع في منطقة "أرناؤوط كوي" شمال مدينة إسطنبول، وتقدر مساحته بنحو 7500 هكتار، ويستوعب 200 مليون مسافر سنوياً، ويصل إلى 350&nbsp;وجهة عالمية.</span></p>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ومع تناغم الشعب والسلطة يدخل البلد يوماً بعد يوم عهد الاستقرار، وتهوي إليه قلوب المستثمرين.</span></p>
                <h2>عقارات 6MER</h2>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">يشمل نشاطنا كافة أنواع العقارات:</span></p>
                <h3>الشقق بأنواعها</h3>
                <p style="text-align: justify;"><span style="line-height: 22pt; font-size: 14px;">شقق مطلة على البحر، شقق ذكية، دوبلكس، <a href="https://turkey.imtilak.net/penthouses-for-sale-turkey">بنتهاوس</a>، شقق مكتبية، فاخرة أو رخيصة...</span></p>
                <h3>الفلل بأنواعها</h3>
                <p style="text-align: justify;"><span style="line-height: 22pt; font-size: 14px;">لدينا فلل مستقلة ومشتركة، و<a href="https://turkey.imtilak.net/seaview-villas-for-sale-turkey">فلل مطلة على البحر</a>، وفلل بالتقسيط، وفلل للاستثمار...</span></p>
                <h3>المتاجر والمحلات&nbsp;</h3>
                <p style="text-align: justify;"><span style="line-height: 22pt; font-size: 14px;">كما تتوفر لدينا خيارات جيدة من المكاتب، و<a href="https://turkey.imtilak.net/shops-for-sale-turkey">المحال التجارية</a>، والمخازن، في مناطق حيوية، جاهزة وقيد الإنشاء.</span></p>
                <h3>الأراضي</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">وللراغبين ب6MER الأراضي واستثمارها، نقدم خيارات لأراض معدّة للبناء أو زراعية.</span></p>
                <h2>منهج الشركة في اختيار العقار</h2>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">نقترح لك العقار حسب هدفك منه: الاستثمار أو السكن أو كلاهما! وما الميزات ذات الأولية لك: الإطلالة، الموقع، جمالية البناء، الضمان الحكومي...؟ وعلى ضوء ذلك نقدم لك مجموعة من الخيارات الأقرب لطلبك، مع مراعاة ميزانيتك.</span></p>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">تركز 6MER العقارية على ثلاثة أنواع من المشاريع:</span></p>
                <h3>المشاريع الجديدة</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ننصح المستثمرين بالعقارات الجديدة لأن:</span></p>
                <ul>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ميزاتها من حيث جودة البناء والتشطيب أفضل وأجمل.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">أنظمة حديثة غير متوفرة في المشاريع القديمة.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">احتمال الربح فيها أكبر حين تكون قيد الإنشاء، أو في منطقة تشهد ازدهاراً متسارعاً، مثل <a href="https://istanbul.imtilak.net/apartments-for-sale-istanbul-basaksehir">باشاك شهير</a>، وبهجة شهير، وبيوك تشكمجة...</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">نقل الملكية فيها أضمن، فضلاً عن زهرة العيش في عقار جديد.</span></li>
                </ul>
                <div style="text-align: justify;">&nbsp;</div>
                <h3>المجمّعات السكنية</h3>
                <p style="text-align: justify;"><span style="line-height: 22pt; font-size: 14px;">ننصح بالتملك في <a href="https://istanbul.imtilak.net/basinexpress-properties-for-sale-istanbul">المجمعات</a>، لما تقدمه من خدمات اجتماعية وصالات رياضية وترفيهية، ومناطق خضراء، ومواقف سيارات، ونظام حراسة... مما لا يتوفر في المباني العادية.</span></p>
                <h3>الاستثمارات الكبرى</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">نشجع المستثمر على "الزيادة الحميدة" في الميزانية، من منطلق أنه كلما تحسّنت الميزانية تحسّن الربح وازداد.</span></p>
                <div style="text-align: justify;">&nbsp;</div>
                <div><span style="font-size: 14px; line-height: 22pt;"><img style="margin-top: 15px; color: #800000; font-size: 18.6667px; text-align: start; display: block; margin-left: auto; margin-right: auto;" src="~/Assets/Global/images/960x640.jpg" alt="فريق 6MER" width="850" height="425"></span></div>
                <div style="text-align: justify;">&nbsp;</div>
                <h2>خدمات 6MER العقارية: من المطار حتى استلام العقار</h2>
                <h3 style="text-align: justify;">قبل الشراء</h3>
                <ul>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">استقبال من المطار إلى الفندق.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">مساعدة باختيار مكان الإقامة.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;"><a href="/property-consulting-turkey">استشارات عقارية</a> متخصصة.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;"><a href="/reception-services-realestate-tours">جولات عقارية</a> على امتداد إسطنبول، وطرابزون، وسكاريا.</span></li>
                </ul>
                <p>&nbsp;</p>
                <h3>بعد الشراء</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">لدينا فريق متخصص بمتابعة إجراءات:</span></p>
                <ul>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">سند التمليك&nbsp;(<a href="https://turkey.imtilak.net/articles/everything-about-property-deed-turkey">الطابو</a>).</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">استلام العقار والتحقق من مطابقته للعقد.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">استخراج إقامة.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">فتح حساب بنكي.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px;"><span style="line-height: 22pt;">تجهيز العقار وملحقاته للاستخدام (الديكور، الفرش، الماء والغاز والكهرباء).</span></span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">إدارة شؤون العقار: تأجيره، إعادة بيعه (حسب الرغبة) - متابعة الضرائب والرسوم والفواتير الخاصة بالعقار.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">تسيير معاملات وشؤون التقدم إلى <a href="/turkish-citizenship">الجنسية التركية</a>.</span><br><u></u></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;"><strong><u>ملاحظة</u></strong><strong>: </strong>معظم خدماتنا مجانية.</span></li>
                </ul>
                <p>&nbsp;</p>
                <h2>مميزات 6MER العقارية</h2>
                <div style="text-align: justify;">
                    <ul>
                        <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">يقتصر تعامل الشركة مع شركات الإنشاء (الموثوقة) فقط، والمشاريع ذات&nbsp;<a href="https://istanbul.imtilak.net/governmentguarantee-properties-for-sale-istanbul">الضمان الحكومي</a>.</span></li>
                        <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">لديها اتفاقيات عمل مع قرابة 200 مشروع عقاري في تركيا.</span></li>
                        <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">من خلال تجربتها وعلاقاتها الواسعة تضع (خلاصة المشاريع العقارية بين يديك).</span></li>
                        <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">لا تأخذ عمولة من المشتري أو المستثمر.</span></li>
                        <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">معظم خدماتها بعد البيع وقبله مجانية.<br></span></li>
                    </ul>
                </div>
                <p style="text-align: justify;">&nbsp;</p>
                <h2 style="text-align: justify;">شعاراتنا</h2>
                <ul>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">العقار خير قرار</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ما ندم من استشار</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">لا بد للعقار من مستشار</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ربح العقار بالانتظار</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">تركيا بيتك الثاني</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">معك من المطار حتى استلام العقار</span></li>
                </ul>
                <p style="text-align: justify;">&nbsp;</p>
                <h3 style="text-align: justify;">العقار خير قرار</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">الأصل في العقار الربح، والعقار أمان، تتقلب الأسواق، وتتلاشى الثروات، وتبقى قيمة العقار في ذاته، ويظل مالك العقار مستغنياً بقدر ما يملك.</span></p>
                <h3>ربح العقار بالانتظار</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">تفقد السلع قيمتها مع الزمن، وتضطرب العملات باضطراب الأحداث، والتجارب تقول: إن سعر العقار يرتفع باستمرار، فلا بد لاستثمار العقار من فترة انتظار، والرخيص اليوم غالي الثمن غداً.</span></p>
                <h3>لا بد للعقار من مستشار</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">ليس العقار سلعة عادية، تذهب فتشتريها وتعود، بل هو عمل استثماري تجاري حتى لو كانت الغاية منه السكن، وهو السلعة الغالية، تسعد بها أو تشقى، والخيارات في تركيا كثيرة جداً، لذلك تقول 6MER العقارية دوماً: لا بد للعقار من مستشار.</span></p>
                <h3>(ما ندم من استشار)</h3>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">الحديث الشريف: (ما ندم من استشار) يتجلى بوضوح في عالم العقار، فالصعوبات النابعة من حجم السوق العقاري... تجعل المستثمر الحليم حيران، قد يجد ضالته، وقد يتورط في صفقة لا تحمد عقباها، فليستعن بمستشار عقاري «قوي أمين» ولن يخسر، فما ندم من استشار!</span></p>
                <h2>فريق العمل</h2>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">مجموعة 6MER أسرة تضم أكثر من 150 محترفاً، من جنسيات متعددة، جمعتهم محبة العمل والتكامل في الخبرات، فيهم المهندس والمستشار والإداري والفني والتقني والمحامي... وتعمل بنظام متوافق مع قوانين العمل التركية.</span></p>
                <h3>الأقسام</h3>
                <p><span style="font-size: 14px; line-height: 22pt;">التسويق – الاستشارات العقارية – المبيعات – خدمات ما بعد البيع – الموارد البشرية – البرمجة والتقانة.</span></p>
                <h2>قيمنا</h2>
                <p style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">يلتزم فريق 6MER بتقديم خدمة احترافية تعتمد:</span></p>
                <ul>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">الصدق في تقديم الاستشارة.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">الخطاب الواقعي والعقلاني.</span></li>
                    <li style="text-align: justify;"><span style="font-size: 14px; line-height: 22pt;">وتبتعد عن الأساليب الرخيصة في الترويج.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-1"></div>
            <div class="col-md-10 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <h3>الاسئلة الشائعة</h3>
                <div id="accordion">
                    <div class="card mb-1">
                        <div style="background-color: #f7f7f9" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h1 class="btn btn-link collapsed" style="font-size: 22px;text-decoration:none">
                                ما هي مميزات شراء عقار في تركيا؟
                            </h1>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="margin:20px;">
                                <ul>
                                    <li dir="RTL"><span lang="AR-SY">الحصول على إقامة عقارية في تركيا</span><o:p></o:p></li>
                                    <li dir="RTL"><span lang="AR-SY">الحصول على الجنسية التركية إذا كان العقار بقيمة 250 ألف دولار </span><o:p></o:p></li>
                                    <li dir="RTL"><span lang="AR-SY">عائد استثماري رابح يستند إلى القوة السياحية الجاذبة في تركيا</span><o:p></o:p></li>
                                    <li dir="RTL"><span lang="AR-SY">توفر مدارس وجامعات عالمية بمختلف اللغات والمرجعيات العلمية</span></li>
                                    <li dir="RTL"><o:p></o:p><span lang="AR-SY">تكاليف المعيشة منخفضة نسبياً مقارنة بأوروبا.</span><o:p></o:p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div style="background-color: #f7f7f9" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h1 class="btn btn-link collapsed" style="font-size: 22px;text-decoration:none">
                                ما هي شروط شراء عقار في تركيا؟
                            </h1>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="margin:20px;">
                                <ul>
                                    <li dir="RTL"><span lang="AR-SY">أهلية الطرفين ورضاهما التام</span></li>
                                    <li dir="RTL"><span lang="AR-SY">قانونية العقار</span></li>
                                    <li dir="RTL"><span lang="AR-SY">وضوح ثمن العقار</span></li>
                                    <li dir="RTL"><span lang="AR-SY">صلاحية العقار للتملك</span></li>
                                    <li dir="RTL"><span lang="AR-SY">تسجيل العقد بصيغة معينة لدى كاتب العدل (النوتر)</span></li>
                                    <li dir="RTL"><span lang="AR-SY">معاملة الشرح العقاري</span></li>
                                    <li dir="RTL">حضور صاحب العقد</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div style="background-color: #f7f7f9" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h1 class="btn btn-link collapsed" style="font-size: 22px;text-decoration:none">
                                ما هي خطوات شراء عقار في تركيا؟
                            </h1>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" style="margin:20px;">
                                <ul>
                                    <li dir="RTL">تقديم طلب نقل الملكية للجهات الأمنية.</li>
                                    <li dir="RTL"><span lang="AR-SY">اختيار العقار المناسب.</span></li>
                                    <li dir="RTL"><span lang="AR-SY">تحضير الأوراق التالية: صورة الطابو </span><span lang="AR-SY">+</span><span lang="AR-SY"> بيان الموقع</span><span lang="AR-SY"> من البلدية </span><span lang="AR-SY">+ 4 صور شخصية.</span></li>
                                    <li dir="RTL"><span lang="AR-SY">الحصول على الرقم الضريبي من دائرة الضرائب.</span></li>
                                    <li dir="RTL"><span lang="AR-SY">ترجمة جواز السفر للغة التركية وتصديقه من كاتب العدل "النوتر".</span></li>
                                    <li dir="RTL"><span lang="AR-SY">توقيع عقد الشراء مع البائع وتقديم دفعة أولى.</span></li>
                                    <li dir="RTL">تقديم طلب نقل الملكية للجهات الأمنية.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-5">
                        <h3>يمكننا الاجابة عن تساؤلاتكم لمساعدتكم </h3>
                    </div>
                    <div class="col-3">
                        <a href="@Url.Action("Contact")" style="font-size:18px" class="btn btn-primary">التواصل</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





