
@{
    ViewBag.Title = "Erorr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-cons" style="height: 650px;">
    <img src="~/Assets/Global/images/Error.jpg" class="img-con" />
</div>
<style>
    .container-cons {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
    }

    .img-con {
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        display: block;
    }
</style>
