
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="height: 650px;">
    <img src="~/Assets/Global/images/underCons.jpg" class="img-con"/>
</div>
<style>
    .img-con{
        width:100%;
        margin:0;
        padding:0;
        top:0;
        bottom:0;
        position:absolute;
        display:block;
    }
</style>